body{
    background: #E9E9E7;
    background-color: ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

**a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.logo2{
    position: relative;
    padding: right 250px;;
    width: 5%;
    height: initial;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    min-height: 8vh;
    background-color: #15DD4D;
}

h3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: relative;
    right: 280px;

}

.burger div{
    position: relative;
    top: 8px;
    left: 280px;
    width: 40px;
    height: 5px;
    background-color: white;
    margin-top: 7px;
    
}

/* .move1{
    text-align: center;
    color: fs;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 150px;
} */

img {
    width: 30%;
    height: 10%;
    padding-top: 0;
    display: block;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 0;
    
}   

img > {
    vertical-align: top;
}

#maps{
    display: block;
    cursor: pointer;
    margin-left: 600px;
    background-color: #15DD4D;
    color: white;
    width: 100px;
    font-size: 20px;
    border-radius: 15px
    
}

footer{
    background-color: #333333;
    color: white;
    text-align:center;
    padding: 40px;
    margin-top: 110px;
}

* footer{
  color: white;
}
/*------------------------------ Map css---------------------- */

iframe{
    padding-top: 40px;

}

.form-map{
    padding-top: 40px;
}
a{
    text-decoration: none;
}

/*------------------------------ Checklist css---------------------- */

input, label {
    font-family: "Abel", "Roboto", "Avenir Next", "avenir-next", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  body {
    background: #E9E9E7;
  }
  p, a, label {
    font-size: 14px;
    text-transform: capitalize;
    color: #6A6969;
  }
  .card-checkout {
    max-width: 500px;
    margin: 100px auto;
    background: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
  }
  .card-checkout > .heading {
    display: inline-block;
    background: #fff;
    padding: 24px 32px 0 48px;
    text-transform: capitalize;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.08em;
  }
  .card-checkout > .heading > .icon {
    color: #5AB45A;
    font-size: 1.5em;
  }
  .card-checkout > .content {
    padding: 24px 32px 32px 40px;
  }
  .input-group {
    display: flex;
    -webkit-appearance: none;
    border-radius: 8px;
    border: 2px solid #CCD7E0;
    background: #FDFDFC;
    padding: 0;
    font-weight: normal;
    color: #345;
    width: 270px;
  }
  .input-group > .form-control {
    width: 100%;
    padding: 12px;
  }
  .form-control {
    -webkit-appearance: none;
    border-radius: 16px;
    border: none;
    background: #FDFDFC;
    padding: 8px;
    font-weight: normal;
    color: #345;
  }
 * .button {
    -webkit-appearance: none;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    padding: 12px 12px;
    font-size: 14px;
    border-radius: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background: #4268B3;
    letter-spacing: 0.08em;
  }
  .button.-primary {
    padding: 8px;
    background: #5AB45A;
  }

/* Checklist styling*/

body, input, label {
  font-family: "Abel", "Roboto", "Avenir Next", "avenir-next", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body {
  background: #E9E9E7;
}
p, a, label {
  font-size: 14px;
  text-transform: capitalize;
  color: #6A6969;
}
.card-checkout {
  max-width: 500px;
  margin: 100px auto;
  background: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}
.card-checkout > .heading {
  display: inline-block;
  background: #fff;
  padding: 24px 32px 20px 48px;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.08em;
}
.card-checkout > .heading > .icon {
  color: #5AB45A;
  font-size: 1.5em;
}
.card-checkout > .content {
  padding: 24px 32px 32px 40px;
}
.input-group {
  display: flex;
  -webkit-appearance: none;
  border-radius: 8px;
  border: 2px solid #CCD7E0;
  background: #FDFDFC;
  padding: 0;
  font-weight: normal;
  color: #345;
  width: 270px;
}
.input-group > .form-control, textarea {
  width: 100%;
  padding: 12px;
}
.form-control, textarea {
  -webkit-appearance: none;
  border-radius: 16px;
  border: none;
  background: #FDFDFC;
  padding: 8px;
  font-weight: normal;
  color: #345;
}
.button {
  -webkit-appearance: none;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  padding: 12px 12px;
  font-size: 14px;
  border-radius: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background: #4268B3;
  letter-spacing: 0.08em;
}
.button.-primary {
  padding: 8px;
  background: #5AB45A;
} 

/* Contact Page Styling */
